<p class="subtext">
  <% if !current_user %>
    <%= link_to "", new_user_registration_path, class: "glyphicon glyphicon-chevron-up" %>
  <% elsif comment.upvoted_by?(current_user) || comment.posted_by?(current_user) %>

  <% else %>
    <%= link_to "", comment_votes_path(comment), method: :post, class: "glyphicon glyphicon-chevron-up" %>
  <% end %>

  <%= comment.score %> <%= link_to comment.user.username, user_path(comment.user) %> <%= time_ago_in_words(comment.created_at) %> ago |
    <%= link_to "link", comment_path(comment) %>
    <% if !@post %>
      <%= link_to "| parent", post_path(comment.commentable) %>
    <% end %>
</p>

<div class="content">
  <%= comment.body %>
</div>

<p><u><%= link_to "reply", new_comment_path(:parent_id => comment), :class => "reply" %></u></p>

<% sorted_children = comment.children.sort { |a,b| b.votes_count <=> a.votes_count } %>

<% sorted_children.each do |i| %>
  <% if i.has_children? == false %>
    <div class="nested_comments"> <%= render i %></div>
  <% end %>
  <% if i.has_children? == true %>
    <div class="nested_comments"> <%= render i %></div>
  <% end %>
<% end %>
