<% if !current_user %>
  <p class="subtext"><%= link_to "", new_user_registration_path, class: "glyphicon glyphicon-chevron-up" %>
<% elsif comment.upvoted_by?(current_user) || comment.posted_by?(current_user) %>

<% else %>
  <p class="subtext"><%= link_to "", new_comment_vote_path(comment), class: "glyphicon glyphicon-chevron-up" %>
<% end %>

<%= link_to comment.user.username, user_path(comment.user) %> <%= time_ago_in_words(comment.created_at) %> ago |
  <%= link_to "link", comment_path(comment) %>
</p>
<div class="content">
  <li><%= comment.body %></li>
</div>
<p><u><%= link_to "reply", new_comment_path(:parent_id => comment) %></u></p>

<div class="nested_comments"> <%= render comment.children %></div>
