<%= render @comment.parent if @comment.parent %>

<%= form_for(@comment) do |f| %>
  <%= f.hidden_field :parent_id %>
  <p>
    <%= f.text_area :content, :rows => "6", :cols => "60" %>
  </p>
  <p>
    <%= f.submit "reply" %>
  </p>
<% end %>
