<ol>
  <% @posts.each do |post| %>
    <% if post.post_type == "url" %>
      <li><%= link_to post.title, post.url %> <%= " (#{post.hackify})" %></li>
      <p class="subtext">by <%= link_to post.user.username, user_path(post.user) %></p>
    <% elsif post.post_type == "question" %>
      <li>Ask HN: <%= link_to post.title, post_path(post) %></li>
      <p class="subtext">by <%= link_to post.user.username, user_path(post.user) %><p>
    <% end %>
  <% end %>
</ol>
