<p>
  <% if !current_user %>
    <%= link_to "", new_user_registration_path, class: "glyphicon glyphicon-chevron-up" %>
  <% elsif @post.upvoted_by?(current_user) || @post.posted_by?(current_user) %>

  <% else %>
    <%= link_to "", new_post_vote_path(@post), class: "glyphicon glyphicon-chevron-up" %>
  <% end %>
  <% if @post.post_type == "url" %>
    <%= link_to @post.title, @post.url %> <span class="comhead"><%= " (#{@post.hackify})" %></span>
  <% elsif @post.post_type == "question" %>
    <%= link_to "Ask HN: #{post.title}", post_path(@post) %>
  <% end %>
</p>
<p class="subtext">
  <%= @post.score %> by <%= link_to @post.user.username, user_path(@post.user) %> <%= time_ago_in_words(@post.created_at) %> ago |
  <%= link_to "#{@post.comments.count} comments", post_path(@post) %>
<p>
<p><%= @post.question %></p>


<%= render "/posts/post_comment_form", object: @post, object: @comment %>
<br>
<br>

<% @post.comments.each do |post_comment| %>
  <p class="subtext"><%= link_to post_comment.user.username, user_path(post_comment.user) %> <%= time_ago_in_words(post_comment.created_at) %> ago |
    <%= link_to "link", comment_path(post_comment) %>
  </p>
  <p><%= post_comment.content %></p>
  <p><u><%= link_to "reply", new_comment_comment_path(post_comment) %></u></p>
    <% post_comment.comments.each do |comment_comment| %>
      <%= comment_comment.content %>
    <% end %>
<% end %>

